.container {
  width: 20vw;
  padding: 1px;
  margin-bottom: 5vh;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  div {
    height: 3vh;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.focus {
  background-color: #808080;
  border-radius: 4px;
  color: white;
  transition: all 300ms;
}

@media (min-width: 768px) {
  .container {
    width: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 50%;
    }
  }
}
