.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 90vw;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.header div {
  display: flex;
  align-items: center;
}
.header_title {
  justify-content: flex-start;
}
.header_button {
  justify-content: flex-end;
}

.main {
  position: relative;
  height: auto;
  width: 90vw;
  top: 15vh;
  left: 0;
}

.filter {
  height: 3.3vh;
}

.articleList {
  height: auto;
  width: 100%;
}