.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  width: 2.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 640px) {
  .container {
    display: none;
  }
}